@media (min-width: 901px) and (max-width: 1024px) {

    body {
        background-color: var(--body-background-color);
    }
    

    /* ### PAGE HEADER ### */
    #page-header {
        background-color: var(--top-page-header-background);

        width: 100%;
        height: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }



    /* ### TOP PAGE IMAGE ### */
    .top-page-image-smaller {
        width: 100%;
        height: 80rem;

        display: none;
    }

    .top-page-image-bigger {
        display: block;

        width: 100%;
    }

    /* ### PAGE DESCRIPTION ### */
    #page-description {
        background-color: #FFF;

        width: 100%;
        height: 95rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-container {
        width: 100%;
        height: 57.7rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 8.4rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 400;

        text-transform: uppercase;
    }

    .subtitle {
        font-size: 2.8rem;
        font-weight: 500;

        text-transform: uppercase;

        margin-bottom: 1.9rem;
    }

    .description-text {
        width: 85%;
    }

    .description-text p {
        font-size: 1.6rem;
        font-weight: 400;

        text-align: center;
    }

    #three-computers-image img {
        width: 23.9rem;
        height: 23.9em;

        margin-top: 7.5rem;
    }
    
    .cards-container {
        margin-top: 8rem;

        width: 70rem;
        height: 26rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-left: 32px;
        padding-right: 32px;

        margin-bottom: 7.9rem;
        margin-top: 18rem;
    }

    .card {
        width: 20rem;
        height: 20rem;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        margin-bottom: 1.9rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card span {
        width: 20rem;

        text-align: center;
    }

    .card img {
        width: 7.5rem;
        height: 7.5rem;

        margin-top: 5%;
        margin-bottom: 5%;
    }

    .card p {
        font-size: 1.2rem;
        font-weight: 400;

        line-height: 1.8rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }


    /* ### COMPUTER IMAGES SECTION ### */
    #computer-images {
        width: 100%;
        height: 44.2rem;
        
        display: flex;
        align-items: center;
    }

    .images-container {
        width: 100%;
        height: 30rem;

        margin-top: -5rem;

        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
    }

    .upper-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        width: 60rem;
        height: 90%;

        margin-left: -1rem;
    }

    .upper-images img {
        width: 25rem;
        height: 100%;
    }

    #below-image {
        width: 26.5rem;
        height: 26.5rem;

        margin-left: 0rem;
    }


    /* ### BENEFITS SECTION ### */
    #benefits {
        width: 100%;
        height: 60rem;

        background-color: #FFF;

        margin-top: -18rem;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .benefits-area {
        width: 100%;
        height: 70rem;

        display: flex;
        flex-direction: row;
        align-items: center;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .benefits-cards-container {
        width: 100%;

        margin-top: -6rem;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .benefits-card {
        width: 21.3rem;
        height: 23rem;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-card:last-child {
        margin-bottom: 0rem;
    }

    .benefits-card span {
        width: 20rem;
        height: 13rem;

        padding: .2rem;

        text-align: center;

        /* margin-bottom: 6.6rem; */
    }

    .benefits-card img {
        width: 7.5rem;
        height: 7.5rem;
        
        margin-top: 1.4rem;
        margin-bottom: .8rem;
    }

    .benefits-card p {
        font-size: 1.2rem;
        font-weight: 400;

        line-height: 1.3rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;

        padding-bottom: 10%;
    }



    /* ### BOTTOM CONTENT AREA ### */
    #bottom-content {
        background-color: #FFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 35rem;
    }

    #bottom-content img {
        width: 80%;
    }

    .glass-image-smaller {
        display: none;
    }

    .glass-image-bigger {
        display: block;

        position: absolute;

        top: 238rem;

        /* margin-left: 25.9rem;
        margin-right: 30.1rem; */
    }

    .bottom-content-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;

        top: 219rem;

        /* height: 16rem; */
        width: 100%;
    }

    .bottom-content-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-content-title h2 {
        font-size: 3.2rem;
        font-weight: 600;

        margin-top: 0rem;
    }

    .bottom-content-text  {
        width: 70%;
        height: 13rem;

        margin-top: 1.8rem;

        padding: 0.8rem;
    }

    .bottom-content-text p {
        font-size: 1.6rem;

        text-align: center;

        /* width: 60rem; */
    }


    /* ### PAGE FOOTER ### */
    #page-footer {
        height: 12.8rem;
        width: 100%;

        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-data-container {
        width: 26.1rem;
        height: 6.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-images {
        width: 15rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .company-data p {
        color: #BDBDBD;

        font-size: 1rem;

        text-align: center;
    }
}




@media (min-width: 1025px) and (max-width: 1280px) {

    body {
        background-color: var(--body-background-color);
    }
    

    /* ### PAGE HEADER ### */
    #page-header {
        background-color: var(--top-page-header-background);

        width: 100%;
        height: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }



    /* ### TOP PAGE IMAGE ### */
    .top-page-image-smaller {
        width: 100%;
        height: 80rem;

        display: none;
    }

    .top-page-image-bigger {
        display: block;

        width: 100%;
    }

    /* ### PAGE DESCRIPTION ### */
    #page-description {
        background-color: #FFF;

        width: 100%;
        height: 95rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-container {
        width: 100%;
        height: 57.7rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 8.4rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 400;

        text-transform: uppercase;
    }

    .subtitle {
        font-size: 2.8rem;
        font-weight: 500;

        text-transform: uppercase;

        margin-bottom: 1.9rem;
    }

    .description-text {
        width: 85%;
    }

    .description-text p {
        font-size: 1.6rem;
        font-weight: 400;

        text-align: center;
    }

    #three-computers-image img {
        width: 23.9rem;
        height: 23.9em;

        margin-top: 7.5rem;
    }
    
    .cards-container {
        width: 90rem;
        height: 180rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-left: 32px;
        padding-right: 32px;

        margin-bottom: 7.9rem;
        margin-top: 18rem;
    }

    .card {
        width: 32%;
        height: 100%;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        margin-bottom: 1.9rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card span {
        width: 20rem;

        text-align: center;
    }

    .card img {
        width: 7.5rem;
        height: 7.5rem;

        margin-top: 5%;
        margin-bottom: 5%;
    }

    .card p {
        font-size: 1.3rem;
        font-weight: 400;

        line-height: 1.8rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }


    /* ### COMPUTER IMAGES SECTION ### */
    #computer-images {
        width: 100%;
        height: 44.2rem;
        
        display: flex;
        align-items: center;
    }

    .images-container {
        width: 100%;
        height: 30rem;

        margin-top: -5rem;

        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
    }

    .upper-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 70rem;
        height: 100%;

        margin-left: 9rem;
    }

    .upper-images img {
        width: 33rem;
        height: 100%;
    }

    .upper-images img:first-child {
        margin-left: -6rem;
        margin-right: 3rem;
    }

    .upper-images img:last-child {
        padding-right: 2rem;
        width: 57%;
    }

    #below-image {
        width: 35rem;
        height: 30rem;

        margin-left: 1rem;
        margin-right: 3rem;
    }


    /* ### BENEFITS SECTION ### */
    #benefits {
        width: 100%;
        height: 60rem;

        background-color: #FFF;

        margin-top: -18rem;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .benefits-area {
        width: 100%;
        height: 70rem;

        display: flex;
        flex-direction: row;
        align-items: center;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .benefits-cards-container {
        width: 100%;

        margin-top: -6rem;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .benefits-card {
        width: 24%;
        height: 25rem;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-card:last-child {
        margin-bottom: 0rem;
    }

    .benefits-card span {
        width: 20rem;
        height: 13rem;

        padding: .2rem;

        text-align: center;

        /* margin-bottom: 6.6rem; */
    }

    .benefits-card img {
        width: 7.5rem;
        height: 7.5rem;

        margin-bottom: 7%;
        margin-top: 2rem;
    }

    .benefits-card p {
        font-size: 1.1rem;
        font-weight: 400;

        line-height: 1.4rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;

        padding-bottom: 10%;
    }



    /* ### BOTTOM CONTENT AREA ### */
    #bottom-content {
        background-color: #FFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 35rem;
    }

    #bottom-content img {
        width: 80%;
    }

    .glass-image-smaller {
        display: none;
    }

    .glass-image-bigger {
        display: block;

        position: absolute;

        top: 245rem;

        /* margin-left: 25.9rem;
        margin-right: 30.1rem; */
    }

    .bottom-content-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-content-title h2 {
        font-size: 3.2rem;
        font-weight: 600;

        margin-top: 0rem;
    }

    .bottom-content-text  {
        width: 44%;
        height: 13rem;

        margin-top: 1.8rem;

        padding: 0.8rem;
    }

    .bottom-content-text p {
        font-size: 1.6rem;

        text-align: center;

        /* width: 60rem; */
    }

    .bottom-content-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;

        top: 225rem;

        /* height: 16rem; */
        width: 100%;
    }


    /* ### PAGE FOOTER ### */
    #page-footer {
        height: 12.8rem;
        width: 100%;

        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-data-container {
        width: 26.1rem;
        height: 6.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-images {
        width: 15rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .company-data p {
        color: #BDBDBD;

        font-size: 1.2rem;

        text-align: center;
    }
}




@media (min-width: 1281px) and (max-width: 1920px) {

    body {
        background-color: var(--body-background-color);
    }
    

    /* ### PAGE HEADER ### */
    #page-header {
        background-color: var(--top-page-header-background);

        width: 100%;
        height: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }



    /* ### TOP PAGE IMAGE ### */
    .top-page-image-smaller {
        width: 100%;
        height: 80rem;

        display: none;
    }

    .top-page-image-bigger {
        display: block;

        width: 100%;
    }

    /* ### PAGE DESCRIPTION ### */
    #page-description {
        background-color: #FFF;

        width: 100%;
        height: 95rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-container {
        width: 100%;
        height: 57.7rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 8.4rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 400;

        text-transform: uppercase;
    }

    .subtitle {
        font-size: 2.8rem;
        font-weight: 500;

        text-transform: uppercase;

        margin-bottom: 1.9rem;
    }

    .description-text {
        width: 85%;
    }

    .description-text p {
        font-size: 1.6rem;
        font-weight: 400;

        text-align: center;
    }

    #three-computers-image img {
        width: 23.9rem;
        height: 23.9em;

        margin-top: 7.5rem;
    }
    
    .cards-container {
        width: 90rem;
        height: 180rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-left: 32px;
        padding-right: 32px;

        margin-bottom: 7.9rem;
        margin-top: 18rem;
    }

    .card {
        width: 32%;
        height: 100%;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        margin-bottom: 1.9rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card span {
        width: 20rem;

        text-align: center;
    }

    .card img {
        width: 7.5rem;
        height: 7.5rem;

        margin-top: 5%;
        margin-bottom: 5%;
    }

    .card p {
        font-size: 1rem;
        font-weight: 400;

        line-height: 1.8rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }


    /* ### COMPUTER IMAGES SECTION ### */
    #computer-images {
        width: 100%;
        height: 44.2rem;
        
        display: flex;
        align-items: center;
    }

    .images-container {
        width: 100%;
        height: 30rem;

        margin-top: -5rem;

        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
    }

    .upper-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 70rem;
        height: 100%;

        margin-left: 9rem;
    }

    .upper-images img {
        width: 36rem;
        height: 100%;
    }

    .upper-images img:first-child {
        margin-left: -10rem;
    }

    .upper-images img:last-child {
        padding-right: 3rem;
        width: 57%;
    }

    #below-image {
        width: 35rem;
        height: 30rem;

        margin-left: 1rem;
    }


    /* ### BENEFITS SECTION ### */
    #benefits {
        width: 100%;
        height: 60rem;

        background-color: #FFF;

        margin-top: -18rem;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .benefits-area {
        width: 100%;
        height: 70rem;

        display: flex;
        flex-direction: row;
        align-items: center;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .benefits-cards-container {
        width: 100%;

        margin-top: -6rem;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .benefits-card {
        width: 24%;
        height: 25rem;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-card:last-child {
        margin-bottom: 0rem;
    }

    .benefits-card span {
        width: 20rem;
        height: 13rem;

        padding: .2rem;

        text-align: center;

        /* margin-bottom: 6.6rem; */
    }

    .benefits-card img {
        width: 7.5rem;
        height: 7.5rem;

        margin-bottom: 7%;
        margin-top: 2rem;
    }

    .benefits-card p {
        font-size: 1.1rem;
        font-weight: 400;

        line-height: 1.4rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;

        padding-bottom: 10%;
    }



    /* ### BOTTOM CONTENT AREA ### */
    #bottom-content {
        background-color: #FFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 45rem;
    }

    #bottom-content img {
        width: 80%;
    }

    .glass-image-smaller {
        display: none;
    }

    .glass-image-bigger {
        display: block;

        position: absolute;

        top: 260rem;

        /* margin-left: 25.9rem;
        margin-right: 30.1rem; */
    }

    .bottom-content-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;

        top: 241rem;

        /* height: 16rem; */
        width: 100%;
    }

    .bottom-content-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-content-title h2 {
        font-size: 3.2rem;
        font-weight: 600;

        margin-top: 0rem;
    }

    .bottom-content-text  {
        width: 44%;
        height: 13rem;

        margin-top: 1.8rem;

        padding: 0.8rem;
    }

    .bottom-content-text p {
        font-size: 1.6rem;

        text-align: center;

        /* width: 60rem; */
    }


    /* ### PAGE FOOTER ### */
    #page-footer {
        height: 12.8rem;
        width: 100%;

        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-data-container {
        width: 26.1rem;
        height: 6.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-images {
        width: 15rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .company-data p {
        color: #BDBDBD;

        font-size: 1.2rem;

        text-align: center;
    }
}