@media (min-width: 481px) and (max-width: 768px) {

    body {
        background-color: var(--body-background-color);
    }

    /* ### PAGE HEADER ### */
    #page-header {
        background-color: var(--top-page-header-background);

        width: 100%;
        height: 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }



    /* ### TOP PAGE IMAGE ### */
    .top-page-image-smaller {
        width: 100%;
        height: 60rem;

        display: none;
    }

    .top-page-image-bigger {
        display: block;

        width: 100%;
        height: 22rem;
    }

    /* ### PAGE DESCRIPTION ### */
    #page-description {
        background-color: #FFF;

        width: 100%;
        height: 153rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-container {
        width: 100%;
        height: 57.7rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 8.4rem;
    }

    .title {
        font-size: 2rem;
        font-weight: 400;

        text-transform: uppercase;
    }

    .subtitle {
        font-size: 2.8rem;
        font-weight: 500;

        text-transform: uppercase;

        margin-bottom: 1.9rem;
    }

    .description-text {
        width: 85%;
    }

    .description-text p {
        font-size: 1.6rem;
        font-weight: 400;

        text-align: center;
    }

    #three-computers-image img {
        width: 23.9rem;
        height: 23.9em;

        margin-top: 7.5rem;
    }
    
    .cards-container {
        margin-top: 8rem;

        width: 100%;
        height: 90.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 32px;
        padding-right: 32px;
    }

    .card {
        width: 85%;
        height: 25rem;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        margin-bottom: 1.9rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card span {
        width: 25rem;

        text-align: center;
    }

    .card img {
        width: 10.2rem;
        height: 8.6rem;

        margin-top: 5%;
        margin-bottom: 3%;
    }

    .card p {
        font-size: 1.5rem;
        font-weight: 400;

        line-height: 2.4rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .third {
        margin-bottom: 0rem;
    }


    /* ### COMPUTER IMAGES SECTION ### */
    #computer-images {
        width: 100%;
        height: 48.4rem;
    }

    .images-container {
        width: 100%;

        margin-top: 3.2rem;

        position: absolute;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upper-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 95%;
        height: 18rem;
    }

    .upper-images img {
        width: 48%;
        height: 18rem;
    }

    #below-image {
        width: 95%;
        height: 37rem;

        margin-top: 2.3rem;
    }


    /* ### BENEFITS SECTION ### */
    #benefits {
        width: 100%;
        height: 130rem;

        background-color: #FFF;

        margin-top: 0rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-area {
        width: 100%;
        height: 90.4rem;

        margin-top: 18rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 32px;
        padding-right: 32px;
    }

    .benefits-card {
        width: 100%;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        margin-bottom: 1.6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-card:last-child {
        margin-bottom: 0rem;
    }

    .benefits-card span {
        width: 30.5rem;

        text-align: center;

        /* margin-bottom: 6.6rem; */
    }

    .benefits-card img {
        width: 10.4rem;
        height: 10.4rem;

        margin-bottom: 5%;
        margin-top: 10%;
    }

    .benefits-card p {
        font-size: 1.3rem;
        font-weight: 400;

        line-height: 2.4rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;

        padding-bottom: 10%;
    }



    /* ### BOTTOM CONTENT AREA ### */
    #bottom-content {
        background-color: #FFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 115rem;

        margin-bottom: 0%;
    }

    #bottom-content img {
        width: 100%;

        padding-top: 70%;
        margin-top: 8rem;
    }

    .bottom-content-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-content-title h2 {
        font-size: 1.9rem;
        font-weight: 600;

        margin-top: 5.1rem;
    }

    .bottom-content-text  {
        width: 95%;
        height: 18rem;

        margin-top: 1.8rem;

        padding: 0.4rem;
    }

    .bottom-content-text p {
        font-size: 1.6rem;

        text-align: center;
    }


    /* ### PAGE FOOTER ### */
    #page-footer {
        height: 12.8rem;
        width: 100%;

        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-data-container {
        width: 26.1rem;
        height: 6.4rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .footer-images {
        width: 15rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .company-data p {
        color: #BDBDBD;

        font-size: 1rem;

        text-align: center;
    }
}
