@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

:root {
    --body-background-color: #E0E0E0;
    --top-page-header-background: #000;
}