@media (min-width: 1921px) and (max-width: 2560px) {

    body {
        background-color: var(--body-background-color);
    }
    

    /* ### PAGE HEADER ### */
    #page-header {
        background-color: var(--top-page-header-background);

        width: 100%;
        height: 12rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #page-header img {
        width: 12rem;
        height: 6rem;
    }



    /* ### TOP PAGE IMAGE ### */
    .top-page-image-smaller {
        width: 100%;
        height: 80rem;

        display: none;
    }

    .top-page-image-bigger {
        display: block;

        width: 100%;
    }

    /* ### PAGE DESCRIPTION ### */
    #page-description {
        background-color: #FFF;

        width: 100%;
        height: 120rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-container {
        width: 100%;
        height: 57.7rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 8.4rem;
    }

    .title {
        font-size: 3.5rem;
        font-weight: 400;

        text-transform: uppercase;
    }

    .subtitle {
        font-size: 4.8rem;
        font-weight: 500;

        text-transform: uppercase;

        margin-bottom: 1.9rem;
    }

    .description-text {
        width: 85%;
    }

    .description-text p {
        font-size: 3rem;
        font-weight: 400;

        text-align: center;
    }

    #three-computers-image img {
        width: 32rem;
        height: 32em;

        margin-top: 7.5rem;
    }
    
    .cards-container {
        width: 120rem;
        height: 180rem;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        padding-left: 32px;
        padding-right: 32px;

        margin-bottom: 7.9rem;
        margin-top: 18rem;
    }

    .card {
        width: 32%;
        height: 100%;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        margin-bottom: 1.9rem;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card span {
        width: 30rem;
        height: 14rem;

        display: flex;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    .card img {
        width: 11rem;
        height: 11rem;

        margin-top: 5%;
        margin-bottom: 5%;
    }

    .card p {
        font-size: 2.2rem;
        font-weight: 400;

        line-height: 2.6rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }


    /* ### COMPUTER IMAGES SECTION ### */
    #computer-images {
        width: 100%;
        height: 75rem;
        
        display: flex;
        align-items: center;
    }

    .images-container {
        width: 100%;
        height: 40rem;

        margin-top: 17.5rem;

        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
    }

    .upper-images {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 135rem;
        height: 57rem;

        margin-left: -7rem;
    }

    .upper-images img {
        width: 63rem;
        height: 100%;
    }

    .upper-images img:first-child {
        margin-left: 0rem;
    }

    /* .upper-images img:last-child {
        padding-right: 3rem;
    } */

    #below-image {
        width: 68rem;
        height: 57rem;

        margin-left: 5rem;
    }


    /* ### BENEFITS SECTION ### */
    #benefits {
        width: 100%;
        height: 100rem;

        background-color: #FFF;

        margin-top: -18rem;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .benefits-area {
        width: 100%;
        height: 70rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 2rem;
        padding-right: 2rem;
    }

    .benefits-cards-container {
        width: 230rem;

        margin-top: 20rem;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .benefits-card {
        width: 55rem;
        height: 40rem;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits-card:last-child {
        margin-bottom: 0rem;
    }

    .benefits-card span {
        width: 40rem;
        height: 23rem;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: .2rem;

        text-align: center;

        /* margin-bottom: 6.6rem; */
    }

    .benefits-card img {
        width: 11rem;
        height: 11rem;

        margin-bottom: 7%;
        margin-top: 2rem;
    }

    .benefits-card p {
        font-size: 2.3rem;
        font-weight: 400;

        line-height: 3rem;

        margin-left: 2.5rem;
        margin-right: 2.5rem;

        padding-bottom: 10%;
    }



    /* ### BOTTOM CONTENT AREA ### */
    #bottom-content {
        background-color: #FFF;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        height: 90rem;
    }

    #bottom-content img {
        width: 80%;
    }

    .glass-image-smaller {
        display: none;
    }

    .glass-image-bigger {
        display: block;

        position: absolute;

        top: 423rem;

        /* margin-left: 25.9rem;
        margin-right: 30.1rem; */
    }

    .bottom-content-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;

        top: 395rem;

        /* height: 16rem; */
        width: 100%;
    }

    .bottom-content-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-content-title h2 {
        font-size: 4.3rem;
        font-weight: 600;

        margin-top: 0rem;
    }

    .bottom-content-text  {
        width: 44%;
        height: 13rem;

        margin-top: 1.8rem;

        padding: 0.8rem;
    }

    .bottom-content-text p {
        font-size: 2.4rem;

        text-align: center;

        /* width: 60rem; */
    }


    /* ### PAGE FOOTER ### */
    #page-footer {
        height: 20rem;
        width: 100%;

        background-color: #000;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-images {
        width: 200rem;
        height: 90rem;

        margin-left: 7rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .footer-images img {
        width: 4.6rem;
        height: 4.6rem;

        margin-right: 4rem;
    }

    .company-data p {
        color: #BDBDBD;

        font-size: 3rem;

        text-align: center;
    }

    .footer-data-container {
        width: 80rem;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer-images {
        width: 15rem;
        height: 3rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .company-data p {
        color: #BDBDBD;

        font-size: 2rem;

        text-align: center;

        line-height: 2.1rem;

        width: 45rem;
    }
}